name: Check, Build, and Release (not pure python)


on:
  workflow_call:

jobs:
  check:
    name: Ruff + Rustfmt + cargo check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true

      - name: Run Ruff
        run: uvx ruff check .

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Run Rustfmt
        run: |
          cd ./rust/
          cargo fmt --check

      - name: Run cargo check
        run: |
          cd ./rust/
          cargo check

  tag_sanity:
    runs-on: ubuntu-latest
    name: Check tag name
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true

      - name: RefName sanity
        run: |
          uv venv
          uv pip install setuptools_scm
          . .venv/bin/activate
          python -m setuptools_scm

  buildwheel:
    name: Build
    if: github.event_name != 'pull_request'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: true

    runs-on: ${{ matrix.os }}
    needs: [check, tag_sanity]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Cache
        uses: Swatinem/rust-cache@v2

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.21

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

 # === Release Job ===
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: buildwheel
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write

    steps:
      - name: Download wheel artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.whl
          fail_on_unmatched_files: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
